.cart-container {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  @media (min-width: 768px) {
    float: right;
    margin-right: 10px;
  }
  i.search-icon {
    color: white;
    font-size: 26px;
    display: inline-block;
    position: relative;
    top: -6px;
    cursor: pointer;
  }
}
